/* report container */
.reportBox{
    padding: 2.5rem 1.5rem 2.2rem 1.5rem;
    width:850px;
    max-width:100%;
    border-radius:2rem 2rem 0 0;
    height:auto;
    background-color: white;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap:2rem;
    height: fit-content;
    min-height: calc(100vh - 7rem);
    margin-top: auto;
}

.reportBox h1{
    font-size:26px;
    font-weight: 800;
}

/* score bar */
.reportScoreBar{
    height: 125px;
    width:125px;
    border-radius:50%;
    border:solid 5px #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reportStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    gap:1rem;
    padding:0.5rem 0;
    width:350px;
    max-width:100%;
    font-weight: 600;
}
.reportStatus div {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 0.5rem;
    color:rgb(88, 87, 87);
    font-weight: 600;
}
.reportStatus div strong{
    font-weight: 800;
    color:black
}

.reportStatus .correct{
    background-color:#44b77c39;
  
}
.reportStatus .incorrect{
    background-color:#ff3b3e28;
}

.reportBox .resetBtn{
    font-size:14px;
}





