/* wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:7rem;
    background-color:var(--secondary-color);
    background-image: url('/bg-image.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:100% -10px;
    min-height: 100vh;
  }