*{
  padding:0;
  margin:0;
  box-sizing:border-box;
} 

/* colors */
:root {
  --primary-color: #FF3B3C;
  --secondary-color: #AF9CF3;
  --off-white:#F3F4FA;
  --gray-color:#999999;
  --red-color: #FF3B3F;
  --green-color:#44B77B;
  --light-green:#44b77c39;
  --light-red:#ff3b3e28;
}
